*{
    box-sizing: border-box;
}

body {
    background-color: purple;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

#result {
    color: red;
    font-size: 17px;
    
}

p {
    margin: 5px 0;
}

h2 {
    text-align: center;
    margin: 10px 0 20px;
}

input[type=checkbox] {
    margin-right: 0;
}

.container {
    background-color: black;
    box-shadow: 0px 2px 10px rgba(255,255,255,0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: white;
   
    
    position: relative;
    font-size: 18px;
    padding: 12px 10px;
   min-height: 50px;
    width: 300px;

}
.result-container #result {
    max-width: calc(100% - 40px);
    word-wrap: break-word;
}



.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

.btn {
    color: wheat;
    background-color: red;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
        color: black;
    }
}


